body{
   background-color: azure;
   width: 100%;
   background-image: url("../image/img.jpg");
   backdrop-filter: blur(4px);
}
h1{
    color: aliceblue;
}
.amheading{
    text-align: center;
    text-decoration:1px underline ;
    padding: 0px 0px;
    margin: 0;
}
.main-block{
    width: 700px;
    height: 750px;
    margin: auto;
    background-color: rgb(102, 102, 102);
    border-radius: 6px;
    padding: 10px 0px;
}
.ins-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
    padding: 10px 70px;
}
.ins-forms{
    margin: 0;
    margin-left: 30px;
    /* border: 1px solid black; */
    border-radius: 2px;
    margin-top: 10px;
    font-size: 19px;
    text-transform: uppercase;
    color: rgb(78, 20, 20);

}
.ins-form input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    outline: 0;
    border: 0;
}
/* .inss-form{
    margin-left: 100px;
    text-align: center;
} */
.ins-form textarea{
    width: 250px;
    height: 100px;
    border-radius: 3px;
    outline: 0;
}
.insbtn{
    text-align: center;
    padding: 20px;
}
.ins-img{
    height: 90px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad-btn{
    margin: 0;
    margin-top: 10px;
    background-color: rgb(12, 168, 12);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.save-btn{
    background-color: rgb(40, 81, 187);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.mig{
    display: flex;
}
.cardpic{
    width: 200px;
    height: 100px;
    color: aqua;
}