*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body{
    background-color: rgb(230, 229, 229);
} */
.ul{
    width: 100%;
    background-color: white;
    justify-content: start;
    margin: 0;
    margin-left: -10px;
    margin-top: -10px;
}
.ul li{
    margin-top: 20px;
}
img{
    margin-left: 100px;
    width: 150px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#search{
    height: 30px;
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
button{
    margin-top: 25px;
    width: 100px;
    height: 25px;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 3px;
}
ul{
    list-style-type: none;
    margin-left:-10px;
    width: 100%;
    margin-top: -10px;
    overflow: hidden;
    background-color: rgb(241, 239, 239);
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;

}
li{
    float: left;
}
li a {

    display: block;
    color: rgb(20, 19, 19);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
}
span{
    margin-left: 400px;
}
 .main1{
    position: relative;
    display: flex;
    width: fit-content;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
 }
 .main1 img{
    width: 1000px;
    height: 300px;
    margin: 0px 0px;
    box-shadow: 2px 2px 8px rgb(202, 202, 201);
    border: 0;
    border-radius: 8px;
 }
 .main1{
    animation: bannermove 5s linear infinite;
 }
 @keyframes bannermove{
    0%{
        transform: translateX(0)
    }
    100%{
        transform:translateX(-50%);
    }
 }
 /* 2nd page */
 .carousel-item{
    background-color: white;
    margin-left: 0px;
 }
 h3{
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: auto;
 }
 .caro{
    
    margin: auto;
    display: flex;
    align-items: center;
    padding: 15px 0;
    
 }
 a{
    text-decoration: none;
    color: black;
 }
.caro img{
    height: 350px;
    width: 200px;
    border-radius: 8px;
    
}
.sh1 p{
    margin: 0;
    margin-left: 100px;
    color: rgb(139, 135, 135);
}
.sh1{
    margin-left: 100px;
    font-weight: bold
}
/* 3rd page */
.add{
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 70px;
}
.sd2 img{
    width: 1400px;
    height: 100px;

}
/* 4th page */
.caros{
    display: flex;
    margin: 0;
    padding: 15px 0;
    margin-left: 90px;
    margin-bottom: 70px;
}
h2{
    margin-left: 130px;
    margin-bottom: auto;
}
.caros1 img{
    width: 230px;
    height: 230px;
    border-radius: 8px;
    margin: 0;
    margin-left: 40PX;
}

/* 5th page */
.car1 img{
width: 1000px;
height: 90px;
margin-left: 100px;
}
.head5 span{
color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-left: 100px;
}
.head5 p{
    font-weight: 0;
    color: aliceblue;
    margin-left: 100px;
}
 .fle{
    display: flex;
    margin-left: 0px;
 }

.sd3{
    background-color:#2d2f4d;
    width: 100%;
    height: 100%;
}
.carose1 img{
    width: 200px;
    height: 300px;
    border-radius: 8px;
}
.sh2 p{
    margin: 0;
    margin-left: 100px;
    color: rgb(247, 235, 235);
    margin-bottom: 50px;
}
.sh2{
    color: aliceblue;
    margin-left: 100px;
    
}
/* 6th page */
.six{
    display: flex;
    margin-left: 130px;
    
}
 h4{
    color: rgb(59, 51, 51);
    margin: 0;
    margin-left: 180px;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
 }
.slid img{
    width: 200px;
    height: 350px;
    border-radius: 8px;
    margin: 0;
    margin-left: 50px;
}
.slid div{
    margin-top: 10px;
}
.sd p{
    margin: 0;
    margin-left: 43px;
    color: rgb(128, 126, 126);
    margin-bottom: 50px;
    font-size: 17px;
}
.sd{
    margin: 0;
    justify-content: start;
    color: rgb(9, 10, 10);
    margin-left: 43px;
    font-size: 17px;
    
}
.sd span{
    margin-left: 43px;
}

/* 7th page */
h5{
    color: rgb(59, 51, 51);
    margin: 0;
    margin-left: 200px;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;  
}
.sev{
    display: flex;
    margin-left: 150px;
}

.sds img{
    width: 200px;
    height: 300px;
    border-radius: 8px;
    margin: 0;
    margin-left: 50px;
}
.sd1{
    margin: 0;
    margin-left: 40px;
}
.sd1 p{
    margin: 0;
    margin-left: 40px;
    color: rgb(128, 126, 126) ;
}
.sd1 span{
    margin-left: 40px;
}
.sds div{
margin-top: 10px;
}

/* 8th page */
.eigh{
    display: flex;
    margin-left: 150px;
}
.sds1 img{
    width: 200px;
    height: 300px;
    border-radius: 8px;
    margin: 0;
    margin-left: 50px;
}

/* 9th page */
.nin{
    display: flex;
    margin-left: 150px;
}
.sds1{
    margin-top: 10px;
}
.sds1 div{
    margin-top: 8px;
}
/* 10th page */
.ten{
    display: flex;
    margin-left: 150px;
}

/* 11th page */
.lev{
    display: flex;
    margin-left: 150px;
}

/* 12thpage */
.fot{
    display: flex;
    margin-left: 200px;
}

.f1{
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
    color:rgb(248, 68, 100) ;
    width: 150px;
    height: 50px;
    background-color: rgb(233, 231, 231);
}
.f1 p{
color: gray;
margin: 0;
margin-left: 10px;
}
.f1 span{
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    
}

.f2{
    margin-left: 20px;
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
    color:rgb(248, 68, 100) ;
    width: 250px;
    height: 50px;
    background-color: rgb(233, 231, 231);
}
.f2 p{
color: gray;
margin: 0;
margin-left: 10px;
}
.f2 span{
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    
}

.f3{
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    color:rgb(248, 68, 100) ;
    width: 80px;
    height: 50px;
    background-color: rgb(233, 231, 231);
}
.f3 p{
color: gray;
margin: 0;
margin-left: 10px;
}
.f3 span{
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    
}
.fot2{
    display: flex;
    margin-left: 180px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* 13th page */
.footer{
    padding-top: 20px;
}
.footer-1{
    padding: 30px 150px;
    color: white;
    background-color: #313035;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-1 div{
    display: flex;
}
.footer-1 button{
    background-color:rgb(224, 81, 81);
    width: 150px;
    height: 30px;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
}
.footer-3{
    background-color: #373739;
    color: gray;
    padding: 40px 140px;
}
.footer-3 span{
    font-size: 10px;
}
.footer-4{
    background-color: #373739;
}
